/* 列表滑动按钮 */
.pinless {
	width: 140rpx;
	height: 100%;
	line-height: 1.5;
	color: #fff;
	font-size: 32rpx;
	border-radius: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-date {
	margin-left: 20rpx;
	padding: 20rpx 0;
}

/* 编辑样式 */
.operation {
	height: 90rpx;
	line-height: 90rpx;
	text-align: center;
	color: #2b6eea;
	font-size: 32rpx;
	border-bottom: 1rpx solid #eee;
}


/* from 表单统一样式 */
.goods-list {
	background-color: #fff;
	border-bottom: 1rpx solid #ccc;
	padding-bottom: 30rpx;

}

.goods-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 20rpx;
}

.goods-list .model {
	padding: 0 12rpx;
}

.table {
	margin-top: 20rpx;
	background-color: #fff;
	border-top: 1rpx solid #ccc;
	border-bottom: 1rpx solid #ccc;
	padding-bottom: 10rpx;
}

.table .from {
	display: flex;
	align-items: center;
	border-bottom: 1rpx solid #eae9e9;
	margin: 0 20rpx;

}

.table .from-new {
	height: 80rpx;
	line-height: 80rpx;
}

.table .from-details {
	height: 64rpx;
	line-height: 64rpx;
}

.table .from:last-child {
	border-bottom: none;
}

.table .fill {
	flex: 1;
}

.table .title {
	width: 150rpx;
}

.table .icon-right-1-copy {
	font-size: 38rpx;
	margin-right: 10rpx;
	color: #999;
}


.table .icon-igw-l-user-2 {
	font-size: 42rpx;
	color: #54a26e;
	border-left: 1rpx solid #eee;
	padding-left: 20rpx;
}

.remarks .from {
	height: 200rpx;
	align-items: flex-start;
}

.remarks .from textarea {
	padding-top: 20rpx;
}

.uploading {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 30rpx;
}

.uploading-img,
.uploading image {
	width: 120rpx;
	height: 120rpx;
	color: #9c9c9c;
	text-align: center;
	line-height: 120rpx;
	background-color: #f2f2f2;
	border-radius: 10rpx;
	margin-left: 20rpx;
	font-size: 26rpx;
	border: 1rpx solid #eee;
	margin-top: 30rpx;
}

.paddingBottom {
	padding-bottom: 80rpx;

}

/* 没有数据 */
.empty-log {
	width: 500rpx;
	height: 500rpx;
	margin: auto;
	text-align: center;
}

.empty-log text {
	font-size: 32rpx;
	margin-top: 20rpx;
}

.empty-log .isLog {
	font-size: 30rpx;
	color: #1ba8fe;
	border-bottom: 1rpx solid #1ba8fe;
}

/* 颜色 */
.black {
	color: #000;
}

.red {
	color: #dd013c;
}

.gray {
	color: #6d6d6d;
}

.green {
	color: #2ea469;
}

.white {
	color: #fff;
}

.blue {
	color: #1ba8fe;
}

.bg-green {
	background-color: #2ea469;
}

.checkActive {
	background-color: #e0e0e0;
}
